body {
	color: black;
	background-image: url("../assets/website-stock/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment:fixed;
}
.background-color-layer{
	background-color: black;
}
.card-block{
	background-color: rgba(255, 255, 255, 0.5);
}